@using web_app.Models
@model Student
@{
    ViewBag.Title = "Azuriranje: " + Model.Ime + " " + Model.Prezime;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Azuriranje podataka o studentu</h2>
<h3>@Model.Ime @Model.Prezime</h3>

@using (Html.BeginForm())
            {

            }

