
@{
    //ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Studenti</h2>
Aplikacija o studentima
<br />
Fakultet: @ViewBag.Fakultet
<br />
Popis studenata @Html.ActionLink("link", "Popis")
