
@{
    ViewBag.Title = "Student";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Student</h2>
<h3>Ime: @ViewBag.Ime</h3>
<h3>Prezime: @ViewBag.Prezime</h3>
<h3>Godina rođenja: @ViewBag.GodRodjenja</h3>

